<tr-courses-filter></tr-courses-filter>

<section *ngIf="courses">
  <article class="row course-list" *ngFor="let course of courses">
    <div class="col-md-10">
      <div class="course-list__info">
        <span class="course-list__title">{{course.title}}</span>
        <span class="course-list__time">{{course.duration}}</span>
        <span class="course-list__date">{{course.date}}</span>
      </div>
      <p>{{course.description}}</p>
    </div>


    <div class="col-md-2 course-list__addition">
      <a [routerLink]="['/courses', course.id]" class="btn btn-secondary btn-sm course-list__edit">Edit</a>
      <button class="btn btn-danger btn-sm course-list__delete" (click)="removeCourse(course.id)">Delete</button>
    </div>
  </article>
</section>

