.course-list {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
}

.course-list__info {
  color: grey;
  font-size: 14px;

  span {
    margin: 0 5px;
  }
}

.course-list__addition {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.course-list__edit {
  margin-bottom: 10px;
}
