.header {
  border: 1px solid #70b8ff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.user__name {
  margin-bottom: 10px;
}

.user {
  text-align: right;
}

.tools {
  width: 100%;
  margin-bottom: 20px;
}
