<section class="container">
  <div class="row">
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="form-course" novalidate>
      <div class="form-group row">
        <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <tr-form-control [control]="courseForm.get('title')">
            <input
              name="title"
              type="text"
              class="form-control"
              formControlName="title"
              id="inputTitle"
              placeholder="Title">
          </tr-form-control>
        </div>
      </div>
      <div class="form-group row">
        <label for="textAreaDescription" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <tr-form-control [control]="courseForm.get('description')">
            <textarea
              name="description"
              id="textAreaDescription"
              class="form-control"
              formControlName="description"
              placeholder="Description"></textarea>
          </tr-form-control>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
        <div class="col-sm-10">
          <tr-form-control [control]="courseForm.get('date')">
            <input
              name="date"
              formControlName="date"
              id="inputDate"
              class="form-control"
              type="date">
          </tr-form-control>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputDuration" class="col-sm-2 col-form-label">Duration</label>
        <div class="col-sm-10">
          <tr-form-control [control]="courseForm.get('duration')">
            <input
              name="duration"
              formControlName="duration"
              id="inputDuration"
              class="form-control"
              type="number"
              placeholder="Duration in minutes">
          </tr-form-control>
        </div>
      </div>
      <div class="form-group row">
        <label for="authorsList" class="col-sm-2 col-form-label">Authors</label>
        <div class="col-sm-10 authors">
          <select
            multiple
            name="defaultAuthors"
            id="authorsList"
            class="form-control form-control-sm">
            <option *ngFor="let defaultAuthor of defaultAuthors" [value]="defaultAuthor">{{defaultAuthor}}</option>
          </select>
          <tr-form-control [control]="courseForm.get('authors')">
            <select
              multiple
              name="authors"
              id="authorsSelected"
              formControlName="authors"
              class="form-control form-control-sm">
              <option value="Smith">Smith</option>
            </select>
          </tr-form-control>
        </div>
      </div>
      <input type="hidden" formControlName="id">
      <div class="form-group row">
        <button class="btn btn-success">Save</button>
        <a routerLink="/" class="btn btn-info">Cancel</a>
      </div>
    </form>
  </div>
</section>
